<form method="POST" action="login.php">
<label for="username">Username</label><input type="text" name="username" id="username" value="" /><br>
<label for="password">Password</label><input type="password" name="password" id="password" value="" /><br>
<input type="submit" name="login" value="Login" />
</form>